
@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>
this is home page, we will have a brief description of our website, what it does and our vision for it 
<div class="row">
    <div class="col-md-4">
        <h3>Rules</h3>
        <p>
            FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list! FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!
        </p>
    </div>
    <div class="col-md-4">
        <h3>How We Got Started</h3>
        <p>
            FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list! FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!
        </p>
    </div>
    <div class="col-md-4">
        <h3>Our Vision</h3>
        <p>
            FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list! FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!FakeList is a website where everyday people can sell things that they do not need.
            You can sell anything from home appliances to pets! Drugs and other products that
            are not legal will be removed from the product list!
        </p>
    </div>
</div>

